body {
    font-family: Palatino;
  }
  
  form {
    /* display: flex; */
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
  }
  .form-item {
    margin-bottom: 1em ;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

  }
  
  ul > * {
    /* justify-content: space-between; */
    background-color: antiquewhite;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 20px;
  }
  